{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/styles.css" %}" />
{% endblock css_files %}
{% block title %}
{% endblock title %}
{% block content %}
    {% include "blog/partials/navbar.html" %}
    <!-- Page Header-->
    <header class="masthead"
            style="background-image: url('/static/blog/images/home-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Adventure Crew</h1>
                        <span class="subheading">A place to share travel experience</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="feature">
        <div class="container pt-3">
            <div class="row mb-2">
                <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-primary">Featured</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="{% url "post-detail-page" rating.1.slug %}">{{ rating.1.title|truncatewords:4 }}</a>
                            </h3>
                            <div class="mb-1 text-muted">{{ rating.1.date|date:"M j" }}</div>
                            <p class="card-text mb-auto">{{ rating.1.subtitle | truncatewords:25 }}</p>
                            <a href="{% url "post-detail-page" rating.1.slug %}">Continue reading</a>
                        </div>
                        <img class="card-img-right flex-auto d-none d-md-block"
                             data-src="holder.js/200x250?theme=thumb"
                             alt="Thumbnail [200x250]"
                             style="width: 200px; height: 250px"
                             src="{% static "blog/images/"|add:rating.1.img1 %}"
                             data-holder-rendered="true"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                            <strong class="d-inline-block mb-2 text-success">Hostest</strong>
                            <h3 class="mb-0">
                                <a class="text-dark" href="{% url "post-detail-page" rating.0.slug %}">{{ rating.0.title|truncatewords:6 }}</a>
                            </h3>
                            <div class="mb-1 text-muted">{{ rating.0.date|date:"M j" }}</div>
                            <p class="card-text mb-auto">{{ rating.0.subtitle | truncatewords:25 }}</p>
                            <a href="{% url "post-detail-page" rating.0.slug %}">Continue reading</a>
                        </div>
                        <img class="card-img-right flex-auto d-none d-md-block"
                             data-src="holder.js/200x250?theme=thumb"
                             alt="Thumbnail [200x250]"
                             style="width: 200px; height: 250px"
                             src="{% static "blog/images/"|add:rating.0.img1 %}"
                             data-holder-rendered="true"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <main class="container pt-3" role="main">
        <div class="row">
            <div class="col-md-8 blog-main">
                <h3 class="pb-3 mb-4 font-italic border-bottom">Most recent posts</h3>
                {% for post in posts  %}
                    {% include "blog/partials/post_preview.html" %}
                {% endfor %}
                <!-- /.blog-post -->
                <nav class="blog-pagination pb-5">
                    <a class="btn btn-outline-primary" href="#">Older</a>
                    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
                </nav>
            </div>
            <!-- /.blog-main -->
            <aside class="col-md-4 blog-sidebar">
                <div class="p-3 mb-3 bg-light rounded">
                    <h4 class="font-italic">Popular Tags</h4>
                    <p class="mb-0">
                        <ul class="widget-list">
                            <li>
                                <a href="#!">destination<span class="ml-auto"></span></a>
                            </li>
                            <li>
                                <a href="#!">lifestyle<span class="ml-auto"></span></a>
                            </li>
                            <li>
                                <a href="#!">news<span class="ml-auto"></span></a>
                            </li>
                            <li>
                                <a href="#!">tips<span class="ml-auto"></span></a>
                            </li>
                            <li>
                                <a href="#!">travel<span class="ml-auto"></span></a>
                            </li>
                            <li>
                                <a href="#!">website<span class="ml-auto"></span></a>
                            </li>
                            <li>
                                <a href="#!">hugo<span class="ml-auto"></span></a>
                            </li>
                        </ul>
                    </p>
                </div>
            </aside>
            <!-- /.blog-sidebar -->
        </div>
    </main>
    {% include "blog/partials/footer.html" %}
{% endblock content %}
