{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/login.css" %}" />
{% endblock css_files %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">
                                    <div class="text-center">
                                        <img src="{% static 'blog/images/logo.jpg' %}"
                                             style="width: 185px;"
                                             alt="logo">
                                        <h4 class="h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Adventure Crew</h4>
                                    </div>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <p>Please login to your account</p>
                                        {% if errors %}<p>Invalid username or password</p>{% endif %}
                                        <div class="form-outline mb-4">
                                            <input type="text"
                                                   class="form-control"
                                                   name ="username"
                                                   placeholder="User name"/>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <input type="password"
                                                   class="form-control"
                                                   name="password"
                                                   placeholder="Password"/>
                                        </div>
                                        <div class="d-grid pt-1 mb-4">
                                            <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                        </div>
                                        <a class="small text-muted" href="#!">Forgot password?</a>
                                        <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                            Don't have an account? <a href="{% url "register" %}" style="color: #393f81;">Register here</a>
                                        </p>
                                        <a href="#!" class="small text-muted">Terms of use.</a>
                                        <a href="#!" class="small text-muted">Privacy policy</a>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <h4 class="mb-4">A best place to share your stories</h4>
                                    <p class="small mb-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
