{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/styles.css" %}" />
{% endblock css_files %}
{% block title %}
    {{ post.title }}
{% endblock title %}
{% block content %}
    {% include "blog/partials/navbar.html" %}
    {% include "blog/partials/card.html" %}
    {% if post.post_format == 1 %}
        {% include "blog/partials/post-header-1.html" %}
    {% else %}
        {% include "blog/partials/post-header-2.html" %}
    {% endif %}
    <div class="container pt-4 pb-4">
        <div class="row just-content-start">
            <div class="col-lg-2 pr-4 mb-4 col-md-12">
                <div class="sticky-top text-center">
                    <div class="text-muted">Share this</div>
                    <div class="d-inline-block">
                        <!-- AddToAny BEGIN -->
                        <div class="a2a_kit a2a_kit_size_32 a2a_vertical_style">
                            <a class="a2a_button_facebook"></a>
                            <a class="a2a_button_twitter"></a>
                            <a class="a2a_button_google_plus"></a>
                            <a class="a2a_button_pinterest"></a>
                        </div>
                        <script async src="https://static.addtoany.com/menu/page.js"></script>
                        <!-- AddToAny END -->
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-8">
                <section>
                    {% if post.post_format == 1 %}
                        {% include "blog/partials/post-format-1.html" %}
                    {% else %}
                        {% include "blog/partials/post-format-2.html" %}
                    {% endif %}
                </section>
                <div class="pt-5">
                    <div class="section-title">
                        <h2 class="mb-5">3 Comments</h2>
                    </div>
                    <ul style="list-style-type: none">
                        <li>
                            <div class="comment-body">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle"
                                         src="https://cdn-icons-png.flaticon.com/512/147/147142.png"
                                         width="70">
                                    <div>
                                        <h5 style="padding: 0 15px;">Mike</h5>
                                        <div class="text-muted d-block" style="padding: 0 15px;">January 9, 2018 at 2:21pm</div>
                                    </div>
                                </div>
                                <p class="pt-3">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Pariatur quidem laborum necessitatibus, ipsam impedit vitae
                                    autem, eum officia, fugiat saepe enim sapiente iste iure! Quam
                                    voluptas earum impedit necessitatibus, nihil?
                                </p>
                                <p>
                                    <a href="#" class="text-dark">Reply</a>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="comment-body">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle"
                                         src="https://cdn-icons-png.flaticon.com/512/168/168732.png"
                                         width="70">
                                    <div>
                                        <h5 style="padding: 0 15px;">Andrew</h5>
                                        <div class="text-muted d-block" style="padding: 0 15px;">January 9, 2018 at 2:21pm</div>
                                    </div>
                                </div>
                                <p class="pt-3">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Pariatur quidem laborum necessitatibus, ipsam impedit vitae
                                    autem, eum officia, fugiat saepe enim sapiente iste iure! Quam
                                    voluptas earum impedit necessitatibus, nihil?
                                </p>
                                <p>
                                    <a href="#" class="text-dark">Reply</a>
                                </p>
                            </div>
                            <ul class="children" style="list-style-type: none">
                                <li class="comment">
                                    <div class="d-flex align-items-center">
                                        <img class="rounded-circle"
                                             src="https://cdn-icons-png.flaticon.com/512/147/147142.png"
                                             width="70">
                                        <div>
                                            <h5 style="padding: 0 15px;">Mike</h5>
                                            <div class="text-muted d-block" style="padding: 0 15px;">January 9, 2018 at 2:21pm</div>
                                        </div>
                                    </div>
                                    <div class="comment-body pt-3">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Pariatur quidem laborum necessitatibus, ipsam impedit vitae
                                            autem, eum officia, fugiat saepe enim sapiente iste iure!
                                            Quam voluptas earum impedit necessitatibus, nihil?
                                        </p>
                                        <p>
                                            <a href="#" class="text-dark">Reply</a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="comment-form-wrap pt-5">
                        <div class="section-title">
                            <h2 class="mb-5">Leave a comment</h2>
                        </div>
                        <form action="#" class="pt-3 bg-light">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" id="name" />
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" id="email" />
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="" id="message" cols="20" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group pt-2">
                                <input type="submit" value="Post Comment" class="btn btn-dark btn-sm" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-4 pb-4">
        <h5 class="font-weight-bold spanborder">
            <span>Read next</span>
        </h5>
        <div class="row">
            <div class="col-lg-6">
                <div class="card border-0 mb-4 box-shadow h-xl-300">
                    <div style=" background-image: url(https://wowthemesnet.github.io/template-mundana-bootstrap-html/assets/img/demo/3.jpg); height: 150px; background-size: cover; background-repeat: no-repeat; ">
                    </div>
                    <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
                        <h2 class="h4 font-weight-bold">
                        <a class="text-dark" href="#">Brain Stimulation Relieves Depression Symptoms</a
                        >
                    </h2>
                    <p class="card-text">
                        Researchers have found an effective target in the brain for
                        electrical stimulation to improve mood in people suffering from
                        depression.
                    </p>
                    <div>
                    <small class="d-block"><a class="text-muted" href="./author.html">Favid Rick</a></small
                    >
                    <small class="text-muted">Dec 12 · 5 min read</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="flex-md-row mb-4 box-shadow h-xl-300">
            <div class="mb-3 d-flex align-items-center">
                <img height="80"
                     src="https://wowthemesnet.github.io/template-mundana-bootstrap-html/assets/img/demo/blog6.jpg"/>
                <div class="pl-5" style="margin: 0 15px">
                    <h2 class="mb-2 h6 font-weight-bold">
                    <a class="text-dark" href="./article.html">Nasa's IceSat space laser makes height maps of Earth</a
                    >
                </h2>
                <div class="card-text text-muted small">Jake Bittle in LOVE/HATE</div>
                <small class="text-muted">Dec 12 · 5 min read</small>
            </div>
        </div>
        <div class="mb-3 d-flex align-items-center">
            <img height="80"
                 src="https://wowthemesnet.github.io/template-mundana-bootstrap-html/assets/img/demo/blog5.jpg"/>
            <div class="pl-3" style="margin: 0 15px">
                <h2 class="mb-2 h6 font-weight-bold">
                <a class="text-dark" href="./article.html">Underwater museum brings hope to Lake Titicaca</a
                >
            </h2>
            <div class="card-text text-muted small">
                Jake Bittle in LOVE/HATE
            </div>
            <small class="text-muted">Dec 12 · 5 min read</small>
        </div>
    </div>
    <div class="mb-3 d-flex align-items-center">
        <img height="80"
             src="https://wowthemesnet.github.io/template-mundana-bootstrap-html/assets/img/demo/blog4.jpg"/>
        <div class="pl-3" style="margin: 0 15px">
            <h2 class="mb-2 h6 font-weight-bold">
            <a class="text-dark" href="./article.html">Sun-skimming probe starts calling home</a
            >
        </h2>
        <div class="card-text text-muted small">
            Jake Bittle in LOVE/HATE
        </div>
        <small class="text-muted">Dec 12 · 5 min read</small>
    </div>
</div>
</div>
</div>
</div>
</div>
{% include "blog/partials/footer.html" %}
{% endblock content %}
