{% extends "base.html" %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/styles.css" %}" />
{% endblock css_files %}
{% block title %}
{% endblock title %}
{% block content %}
    {% include "blog/partials/navbar.html" %}
    <header class="masthead"
            style=" background-image: url('/static/blog/assets/img/cover-default.jpg'); padding-bottom: 5rem; ">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <div class="card" style="border-radius: 15px">
                            <div class="card-body p-4">
                                <div class="d-flex text-black">
                                    <div class="flex-shrink-0">
                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                             alt="Generic placeholder image"
                                             class="img-fluid"
                                             style="width: 180px; border-radius: 10px"/>
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        <h5 class="mb-1">Danny McLoan</h5>
                                        <p class="mb-2 pb-1" style="color: #2b2a2a">Senior Member</p>
                                        <div class="d-flex justify-content-center rounded-3 p-2 mb-2"
                                             style="background-color: #efefef">
                                            <div>
                                                <p class="small text-muted mb-1 site-heading">Articles</p>
                                                <p class="mb-0">41</p>
                                            </div>
                                            <div class="px-3">
                                                <p class="small text-muted mb-1">Followers</p>
                                                <p class="mb-0">976</p>
                                            </div>
                                            <div>
                                                <p class="small text-muted mb-1">Rating</p>
                                                <p class="mb-0">8.5</p>
                                            </div>
                                        </div>
                                        <div class="d-flex pt-1">
                                            <button type="button" class="btn btn-outline-primary me-1 flex-grow-1">Chat</button>
                                            <button type="button" class="btn btn-primary flex-grow-1">Follow</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="jumbotron jumbotron-fluid mb-3 mr-5 pl-5 pt-3 pb-5 bg-white position-relative">
            <div class="h-100 tofront">
                <div class="row">
                    <div class="col-md-6 pt-6 pb-6 pr-6 align-self-center">
                        <p class="text-uppercase font-weight-bold">
                            <a class="text-danger" href="./category.html">Stories</a>
                        </p>
                        <h1 class="display-4 secondfont mb-3 font-weight-bold">
                            Sterling could jump 8% if Brexit deal gets approved by UK Parliament
                        </h1>
                        <p class="mb-3">
                            Analysts told CNBC that the currency could hit anywhere between
                            $1.35-$1.40 if the deal gets passed through the U.K. parliament.
                        </p>
                        <div class="d-flex align-items-center">
                            <small class="ml-5 mr-5">Posted by Danny McLoan
                            <span class="text-muted d-block">A few hours ago &middot; 5 min. read</span
                            >
                        </small>
                    </div>
                </div>
                <div class="col-md-6">
                    <img style="margin: 0px 75px"
                         width="500"
                         height="700"
                         src="https://wowthemesnet.github.io/template-mundana-bootstrap-html/assets/img/demo/intro.jpg"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-4 pb-4">
    <div class="row just-content-start">
        <div class="col-lg-2 pr-4 mb-4 col-md-12">
            <div class="sticky-top text-center">
                <div class="text-muted">Share this</div>
                <div class="d-inline-block">
                    <!-- AddToAny BEGIN -->
                    <div class="a2a_kit a2a_kit_size_32 a2a_vertical_style">
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_twitter"></a>
                        <a class="a2a_button_google_plus"></a>
                        <a class="a2a_button_pinterest"></a>
                    </div>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                    <!-- AddToAny END -->
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-8">
            <section>
                <h2 class="pb-3">A Loving Heart is the Truest Wisdom</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis,
                    eius mollitia suscipit, quisquam doloremque distinctio perferendis et
                    doloribus unde architecto optio laboriosam porro adipisci sapiente
                    officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore
                    perferendis, enim praesentium omnis, iste doloremque quia officia
                    optio deserunt molestiae voluptates soluta architecto tempora.
                </p>
                <p>
                    Molestiae cupiditate inventore animi, maxime sapiente optio, illo est
                    nemo veritatis repellat sunt doloribus nesciunt! Minima laborum magni
                    reiciendis qui voluptate quisquam voluptatem soluta illo eum ullam
                    incidunt rem assumenda eveniet eaque sequi deleniti tenetur dolore
                    amet fugit perspiciatis ipsa, odit. Nesciunt dolor minima esse vero ut
                    ea, repudiandae suscipit!
                </p>
                <div>
                    <img style="max-width: 100%; max-height: 100%"
                         src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=2448,h=992,fit=crop/kodahki7nt/dave-herring-unsplash-dWxP7xnq12HzwlEO.jpg"/>
                </div>
                <h3 class="pt-5 pb-5">
                    It's believed that the pony-sized Icelandic Horse was introduced to
                    this island by Viking Age Scandinavians back in the 9th century.
                </h3>
                <p>
                    Temporibus ad error suscipit exercitationem hic molestiae totam
                    obcaecati rerum, eius aut, in. Exercitationem atque quidem tempora
                    maiores ex architecto voluptatum aut officia doloremque. Error dolore
                    voluptas, omnis molestias odio dignissimos culpa ex earum nisi
                    consequatur quos odit quasi repellat qui officiis reiciendis incidunt
                    hic non? Debitis commodi aut, adipisci.
                </p>
                <div class="row pt-5 pb-5">
                    <div class="col-md-6">
                        <img style="max-width: 100%; max-height: 100%"
                             src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=861,h=712,fit=crop/kodahki7nt/redcharlie-unsplash-YBgq09NrQJfQw6xG.jpg"/>
                    </div>
                    <div class="col-md-6">
                        <img style="max-width: 100%; max-height: 100%"
                             src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=861,h=712,fit=crop/kodahki7nt/jeremy-bishop-unsplash-AoP0Mg9glWH2MVQK.jpg"/>
                    </div>
                </div>
                <p>
                    Freemium non-disclosure agreement lean startup bootstrapping holy
                    grail ramen MVP iteration accelerator. Strategy market ramen leverage
                    paradigm shift seed round entrepreneur crowdfunding social proof angel
                    investor partner network virality.
                </p>
            </section>
            <div class="pt-5">
                <div class="section-title">
                    <h2 class="mb-5">3 Comments</h2>
                </div>
                <ul style="list-style-type: none">
                    <li>
                        <div class="comment-body">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle"
                                     src="https://cdn-icons-png.flaticon.com/512/147/147142.png"
                                     width="70">
                                <div>
                                    <h5 style="padding: 0 15px;">Mike</h5>
                                    <div class="text-muted d-block" style="padding: 0 15px;">January 9, 2018 at 2:21pm</div>
                                </div>
                            </div>
                            <p class="pt-3">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Pariatur quidem laborum necessitatibus, ipsam impedit vitae
                                autem, eum officia, fugiat saepe enim sapiente iste iure! Quam
                                voluptas earum impedit necessitatibus, nihil?
                            </p>
                            <p>
                                <a href="#" class="text-dark">Reply</a>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="comment-body">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle"
                                     src="https://cdn-icons-png.flaticon.com/512/168/168732.png"
                                     width="70">
                                <div>
                                    <h5 style="padding: 0 15px;">Andrew</h5>
                                    <div class="text-muted d-block" style="padding: 0 15px;">January 9, 2018 at 2:21pm</div>
                                </div>
                            </div>
                            <p class="pt-3">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Pariatur quidem laborum necessitatibus, ipsam impedit vitae
                                autem, eum officia, fugiat saepe enim sapiente iste iure! Quam
                                voluptas earum impedit necessitatibus, nihil?
                            </p>
                            <p>
                                <a href="#" class="text-dark">Reply</a>
                            </p>
                        </div>
                        <ul class="children" style="list-style-type: none">
                            <li class="comment">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle"
                                         src="https://cdn-icons-png.flaticon.com/512/147/147142.png"
                                         width="70">
                                    <div>
                                        <h5 style="padding: 0 15px;">
                                            Mike
                                        </h5>
                                        <div class="text-muted d-block" style="padding: 0 15px;">
                                            January 9, 2018 at 2:21pm
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-body pt-3">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Pariatur quidem laborum necessitatibus, ipsam impedit vitae
                                        autem, eum officia, fugiat saepe enim sapiente iste iure!
                                        Quam voluptas earum impedit necessitatibus, nihil?
                                    </p>
                                    <p>
                                        <a href="#" class="text-dark">Reply</a>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="comment-form-wrap pt-5">
                    <div class="section-title">
                        <h2 class="mb-5">
                            Leave a comment
                        </h2>
                    </div>
                    <form action="#" class="pt-3 bg-light">
                        <div class="form-group">
                            <label for="name">
                                Name *
                            </label>
                            <input type="text" class="form-control" id="name" />
                        </div>
                        <div class="form-group">
                            <label for="email">
                                Email *
                            </label>
                            <input type="email" class="form-control" id="email" />
                        </div>
                        <div class="form-group">
                            <label for="message">
                                Message
                            </label>
                            <textarea name="" id="message" cols="20" rows="10" class="form-control"></textarea>
                        </div>
                        <div class="form-group pt-2">
                            <input type="submit" value="Post Comment" class="btn btn-dark btn-sm" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-4 pb-4">
    <h5 class="font-weight-bold spanborder">
        <span>Read next</span>
    </h5>
    <div class="row">
        <div class="col-lg-6">
            <div class="card border-0 mb-4 box-shadow h-xl-300">
                <div style=" background-image: url(https://wowthemesnet.github.io/template-mundana-bootstrap-html/assets/img/demo/3.jpg); height: 150px; background-size: cover; background-repeat: no-repeat; ">
                </div>
                <div class="card-body px-0 pb-0 d-flex flex-column align-items-start">
                    <h2 class="h4 font-weight-bold">
                    <a class="text-dark" href="#">Brain Stimulation Relieves Depression Symptoms</a
                    >
                </h2>
                <p class="card-text">
                    Researchers have found an effective target in the brain for
                    electrical stimulation to improve mood in people suffering from
                    depression.
                </p>
                <div>
                <small class="d-block"><a class="text-muted" href="./author.html">Favid Rick</a></small
                >
                <small class="text-muted">Dec 12 · 5 min read</small>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="flex-md-row mb-4 box-shadow h-xl-300">
        <div class="mb-3 d-flex align-items-center">
            <img height="80"
                 src="https://wowthemesnet.github.io/template-mundana-bootstrap-html/assets/img/demo/blog6.jpg"/>
            <div class="pl-5" style="margin: 0 15px">
                <h2 class="mb-2 h6 font-weight-bold">
                <a class="text-dark" href="./article.html">Nasa's IceSat space laser makes height maps of Earth</a
                >
            </h2>
            <div class="card-text text-muted small">
                Jake Bittle in LOVE/HATE
            </div>
            <small class="text-muted">Dec 12 · 5 min read</small>
        </div>
    </div>
    <div class="mb-3 d-flex align-items-center">
        <img height="80"
             src="https://wowthemesnet.github.io/template-mundana-bootstrap-html/assets/img/demo/blog5.jpg"/>
        <div class="pl-3" style="margin: 0 15px">
            <h2 class="mb-2 h6 font-weight-bold">
            <a class="text-dark" href="./article.html">Underwater museum brings hope to Lake Titicaca</a
            >
        </h2>
        <div class="card-text text-muted small">
            Jake Bittle in LOVE/HATE
        </div>
        <small class="text-muted">Dec 12 · 5 min read</small>
    </div>
</div>
<div class="mb-3 d-flex align-items-center">
    <img height="80"
         src="https://wowthemesnet.github.io/template-mundana-bootstrap-html/assets/img/demo/blog4.jpg"/>
    <div class="pl-3" style="margin: 0 15px">
        <h2 class="mb-2 h6 font-weight-bold">
        <a class="text-dark" href="./article.html">Sun-skimming probe starts calling home</a
        >
    </h2>
    <div class="card-text text-muted small">
        Jake Bittle in LOVE/HATE
    </div>
    <small class="text-muted">Dec 12 · 5 min read</small>
</div>
</div>
</div>
</div>
</div>
</div>
{% include "blog/partials/footer.html" %}
{% endblock content %}
